$gray : rgb(24, 24, 24);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: gray;
    color: white;
    font-family: 'Quicksand', sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
ul, li{
    list-style: none;
}
#id{
    margin-top: 5rem
}
.safety-container{
    display: flex;
    margin-top: 20vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    height: calc(100% - 5rem);
    .karty{
        width: 30%;
        margin-bottom: 2rem;
        min-width: 16rem;
        position: relative;
        height: 17rem;
        button{
            position: absolute;
            bottom: 0;
        }
    }
}
@import './menu.scss';