$gray : #1a223a;;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #596275;
    color: white;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
a{
    color: white;
    text-decoration: none;
}
ul, li{
    list-style: none;
}
#id{
    margin-top: 5rem
}
#reszta{
    margin-top: 5rem;
}
.safety-container{
    display: flex;
    margin-top: 20vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    height: calc(100% - 5rem);
    .karty{
        padding: 9px;
        width: 30%;
        margin-bottom: 2rem;
        min-width: 16rem;
        position: relative;
        min-height: 17rem;
        height: 40vh;
        max-height: 18.5rem;
        background: #303952;
        color: rgb(163, 163, 163);
        h2{
            color: white;
        }
        button{
            position: absolute;
            bottom: 10px;
            color: white;
            padding: 10px;
            background: #232a3f;
        }
        animation: karty-wysuwanie 0.5s ease-in-out;
        transition: 0.5s;
        &:hover{
                background:#232a3f;
        }
    }
}
#quiz{
    width: 70vw;
    margin-left: calc(15vw - 1.5rem);
    text-align: center;
    flex-wrap: wrap;
    margin-top: 7rem;
    button{
        padding: 2rem;
        background: #232a3f;
        color: white;
        margin: 1rem;
        width: 45%;
        font-size: 1.5rem;
        opacity: 0.8;
        transition: 0.5s;
        &:hover{
            opacity: 1;
        }
    }
    padding: 1.5rem;
    background: #505970;
}

#mainer{
    position: absolute;
    top: 5rem;
    
    #slider{
        position: absolute;
        top: 0;
        width: 100vw;
        height: calc(100vh +5rem);
        
        img{
            min-width: 100vw;
            height: 100vh  ;
            position: absolute;
            top: -5rem;
            filter: brightness(50%);
        }
        .slide{
            .text-rog{
                position: absolute;
                right: 2rem;
                text-align: right;
                top: calc(100vh - 19rem);
                h1{
                    font-size: 2.5rem;
                }
                button{
                    background: #303952;
                    width: 9rem;
                    height: 3rem;
                    transition: 0.5s;
                    color: white;
                    &:hover{
                        background: #101625;
                    }
                }
            }
           }
    }
}


@keyframes karty-wysuwanie {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@import './menu.scss';